ion-slide{
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  div{
    position: relative;
    border-radius: 15px;
    width: 80%;
    height: 300px;
    & h4{
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      // border-bottom: 5px solid white;
      margin: 0;
      padding: 1rem;
      font-size: 1.4rem;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.507);
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
  img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
.tr{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0;
  width: 5rem;
  height: 3rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.507);
  & ion-icon{
    margin-left: 2px;
    font-size: 1rem;
    color: gold;
  }
}

.price{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 5rem;
  height: 3rem;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.507);
}
p{
  margin: 0;
  text-align: left;
  padding: 0 2rem;
  width: 100%;
  ion-icon{
    font-size: 1.1rem;
    margin-right: .5rem;
    color:rgb(117, 117, 117);
  }
}
.first{
  margin-top: 1rem;
}
