<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of nearbyRestaurants">
      <h4>{{ item.name }}</h4>
      <div>
        <img [src]="item.image_url" alt="">
      </div>
    </ion-slide>
  </ion-slides>
 <!-- <ion-button (click)="test()" [disabled]="!showNearbyRestaurants">TEST</ion-button> -->
</ion-content>
