ion-slides{
  // height: 30%;
}
ion-slide{
  display: flex;
  flex-direction: column;
  div{
    margin-top: 2rem;
    width: 100%;
    height: 300px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
